.app {
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  color: var(--font-color);
}

.app_theme_light {
  background-color: wheat;
}

#root {
  background-color: var(--background-color);
}
